#cursor {
  width: 40px;
  height: 40px;
  border: 3px solid white;
  border-radius: 50%;
  position: fixed;
  z-index: $z-cursor;
  pointer-events: none;

  transition-duration: 100ms;
  transition-timing-function: ease-out;

  &.active {
    filter: blur(2px);
  }
}
