#cursor {
  width: 2em;
  height: 2em;
  position: absolute;
  border: 3px solid #fff;
  background: rgba($color-white, 0.5);
  border-radius: 50%;
  z-index: $z-cursor;
  pointer-events: none;

  display: none;
  transform: translate(-100%, -100%);
}
#cursor.active {
  filter: blur(3px);
}
