#tours {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $color-white;
  &__inner {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 2em;
    justify-items: center;

    width: 100%;
    margin: 1rem 0 4rem 0;
    overflow: visible;
    z-index: 1;

    .tour,
    .tour__price,
    .btn,
    .tour::after,
    .from {
      transition: all 0.2s ease;
    }

    .tour,
    .tour::after,
    .tour__title {
      border-radius: 0.5rem;
    }

    .tour {
      height: 350px;
      width: 300px;
      position: relative;
      border: 3px solid white;
      color: $color-white;

      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: center;
      text-align: center;

      &__title {
        font-size: 1.5rem;
        font-weight: 700;
        position: absolute;
        top: 0.5rem;
        padding: 1rem 0;
        width: calc(100% - 1rem);
      }
      &__price {
        font-size: 3rem;
        font-weight: 900;
        margin-bottom: 3rem;
        color: $color-darkGrey;

        span {
          display: block;
        }

        .from {
          font-size: 1rem;
          color: $color-blueyGrey;
        }

        sup {
          font-size: 1rem;
        }
      }

      .btn {
        text-align: center;
        margin-bottom: 2rem;
      }

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 1rem;
        left: 1rem;
        background: $color-lightGrey;
        z-index: -1;
      }

      // unique styling for each tour
      &--city {
        .tour__title {
          background: linear-gradient(
              to top,
              rgba(2, 145, 0, 0.75),
              rgba(0, 255, 11, 0.75)
            ),
            url(../img/cityimg.jpg);
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
      &--fjord {
        .tour__title {
          background: linear-gradient(
              to top,
              rgba(36, 60, 154, 0.75),
              rgba(0, 250, 252, 0.75)
            ),
            url(../img/fjordimg.jpg);
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
      &--hike {
        .tour__title {
          background: linear-gradient(
              to top,
              rgba(176, 0, 0, 0.75),
              rgba(252, 113, 0, 0.75)
            ),
            url(../img/hikeimg.jpg);
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }

    .tour:hover {
      border-color: $color-red;
      background: linear-gradient(to top, $color-lightGrey, white);

      .tour__price {
        transform: translateY(-1rem) scale(1.5);
      }

      .from {
        opacity: 0;
      }

      .btn {
        background: $color-red;
        color: white;
        transform: scale(1.05);
      }
      &::after {
        background: $color-lightRed;
      }
    }
  }
}
