//Variables

//  #colors
$color-white: #e8e8e8;
$color-red: #f05454;
$color-lightRed: #fc9a9a;
$color-lightGrey: #d1cdcd;
$color-blueyGrey: #30475e;
$color-darkGrey: #222831;

//  #z-index values
$z-hoverable: 5;
$z-nav: 10;
$z-cursor: 20;

// #shadows
$shadow-smooth: 0px 3px 15px rgba(0, 0, 0, 0.2);
