@import "variables";
//Resets
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

html {
  font-size: 12px;
  padding: 0;
  background: white;
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  background: $color-white;
  position: relative;
}

::selection {
  background: $color-red; /* WebKit/Blink Browsers */
  color: $color-white;
}

.container {
  max-width: 1024px;
  padding: 0 1rem;
}

@import "components/cursor", "components/nav", "components/buttons",
  "components/headers", "components/intro", "components/about",
  "components/tours", "components/stories", "components/book",
  "components/footer", "queries";
