//Variables

//  #colors
$color-white: #e8e8e8;
$color-red: #f05454;
$color-blueyGrey: #30475e;
$color-darkGrey: #222831;

//  #z-index values
$z-hoverable: 5;
$z-nav: 10;
$z-cursor: 20;

// #shadows
// $shadow-smooth: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
//   0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
//   0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
//   0 100px 80px rgba(0, 0, 0, 0.12);
$shadow-smooth: 0px 3px 15px rgba(0, 0, 0, 0.2);

//Resets
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

html {
  font-size: 12px;
  padding: 0;
  background: white;
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  background: $color-white;
  position: relative;
}

::selection {
  background: $color-red; /* WebKit/Blink Browsers */
  color: $color-white;
}

.container {
  max-width: 1024px;
  padding: 0 1rem;
}

@import "components/cursor", "components/nav", "components/buttons",
  "components/headers", "components/intro", "components/about",
  "components/tours", "components/stories", "components/book",
  "components/footer", "queries";
